<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.ches.citybikes">

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

  <application
      android:allowBackup="true"
      android:fullBackupContent="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:name=".App"
      android:theme="@style/AppTheme">

    <activity
        android:label="@string/app_name"
        android:name=".presentation.screen.intro.IntroActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name=".presentation.screen.main.MainActivity"/>

  </application>

</manifest>
